<div>
	<p>Welcome to the installation wizard.  Please have the following checklist ready before beginning.</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Basic Customer Information</div>
  	<div class="panel-body">
    	<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Customer name</span>
  					<input type="text" class="form-control" placeholder="ACME Corp.">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">SalesForce ID</span>
  						<input type="text" class="form-control" placeholder="12345678">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
	
	</br>
			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Last Name</span>
  					<input type="text" class="form-control" placeholder="Smith">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">First Name</span>
  							<input type="text" class="form-control" placeholder="John">
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		
	</br>
			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Phone Number</span>
  					<input type="text" class="form-control" placeholder="555-555-5555">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Email Address</span>
  							<input type="text" class="form-control" placeholder="John.smith@mail.com">
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

</br>
			<div class="row">
  			<div class="col-lg-5">
    			<div class="input-group">
  					<span class="input-group-addon">Street Address</span>
  					<input type="text" class="form-control" placeholder="555 Park St.">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				
  				<div class="col-lg-3">
    				<div class="input-group">
  						<span class="input-group-addon">City</span>
  							<input type="text" class="form-control" placeholder="San Mateo">
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->

					<div class="col-lg-2">
    				<div class="input-group">
  						<span class="input-group-addon">State</span>
  							<input type="text" class="form-control" placeholder="CA">
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->

					<div class="col-lg-2">
    				<div class="input-group">
  						<span class="input-group-addon">Zip</span>
  							<input type="text" class="form-control" placeholder="94000">
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->

			</div><!-- /.row -->
		</div>	
  </div>

<div class="panel panel-primary">
  <div class="panel-heading">Customer Website Information</div>
  	<div class="panel-body">

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Website URL</span>
  					<input type="text" class="form-control" placeholder="http://www.ACMECorp.com">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">About Us URL</span>
  						<input type="text" class="form-control" placeholder="http://www.ACMECorp.com/about.html">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

</br>

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Contact Us URL</span>
  					<input type="text" class="form-control" placeholder="http://www.ACMECorp.com/contact.html">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Products URL</span>
  						<input type="text" class="form-control" placeholder="http://www.ACMECorp.com/catalog.html">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

</br>

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Call To Action URL</span>
  					<input type="text" class="form-control" placeholder="http://www.ACMECorp.com/demo.html">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Reviews URL</span>
  						<input type="text" class="form-control" placeholder="http://www.yelp.com/acme.html">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Customer Social Information</div>
  	<div class="panel-body">

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">Facebook Page URL</span>
  					<input type="text" class="form-control" placeholder="http://www.facebook.com/acme">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Twitter URL</span>
  						<input type="text" class="form-control" placeholder="http://www.twitter.com/acme">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

</br>

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">LinkedIn Company URL</span>
  					<input type="text" class="form-control" placeholder="http://www.LinkedIn.com/acme">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Google+ Company URL</span>
  						<input type="text" class="form-control" placeholder="http://www.Googleplus.com/acme">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

</br>

			<div class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
  					<span class="input-group-addon">YouTube Company URL</span>
  					<input type="text" class="form-control" placeholder="http://www.YouTube.com/acme">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
  				<div class="col-lg-6">
    				<div class="input-group">
  						<span class="input-group-addon">Blog URL</span>
  						<input type="text" class="form-control" placeholder="http://www.ACME.com/blog">
						</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

  </div>
</div>

  		<div align=right>
				<a href="wizardtemplates" class="btn btn-success">Next <i class="icon-white icon-arrow-right"></i></a>
			</div>

</br>

