
<div class="panel panel-primary">
  <div class="panel-heading">Email Only</div>
  	<div class="panel-body">

			<div><input type="checkbox"> Email Templates</div>
			<div><input type="checkbox"> Landing Page Templates</div>
			<div><input type="checkbox"> Form Templates</div>
			<div><input type="checkbox"> Automated Programs</div>

  	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Marketing Automation</div>
  	<div class="panel-body">

			<div><input type="checkbox"> Email Templates</div>
			<div><input type="checkbox"> Landing Page Templates</div>
			<div><input type="checkbox"> Form Templates</div>
			<div><input type="checkbox"> Automated Programs</div>
			<div><input type="checkbox"> Funnels</div>

  	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">APEX</div>
  	<div class="panel-body">

			<div><input type="checkbox"> Email Templates</div>
			<div><input type="checkbox"> Landing Page Templates</div>
			<div><input type="checkbox"> Form Templates</div>
			<div><input type="checkbox"> Automated Programs</div>
			<div><input type="checkbox"> Funnels</div>

  	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Franchise</div>
  	<div class="panel-body">

			<div><input type="checkbox"> Email Templates</div>
			<div><input type="checkbox"> Landing Page Templates</div>
			<div><input type="checkbox"> Form Templates</div>
			<div><input type="checkbox"> Automated Programs</div>
			<div><input type="checkbox"> Funnels</div>

  	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Managed Services</div>
  	<div class="panel-body">

			<div><input type="checkbox"> Email Templates</div>
			<div><input type="checkbox"> Landing Page Templates</div>
			<div><input type="checkbox"> Form Templates</div>
			<div><input type="checkbox"> Automated Programs</div>
			<div><input type="checkbox"> Funnels</div>

  	</div>
</div>

<div align=right>
				<a href="wizardstart" class="btn btn-success">Back <i class="icon-white icon-arrow-right"></i></a>
				<a href="wizardmedia" class="btn btn-success">Next <i class="icon-white icon-arrow-right"></i></a>
</div>

</br>