<div>
	<h3>Mock up for new install wizard for Act-On customers</h3>
		<p>Based on current instal wizard plus options for inserting Act-On created templates for:</p>
		
		<ul>
			<li>Automated Programs</li>
			<li>Emails</li>
			<li>Landing Pages</li>
			<li>Forms</li>
			<li>Funnels</li>
			<li>Segmentation</li>
		</ul> 

		<p>This wizard is supposed to be run by an Act-On CSM.  The CSM will enter in various bits of information on the customer such as:</p>

		<ul>
			<li>SalesForce ID</li>
			<li>Basic customer profile</li>
			<li>Basic media assets</li>
		</ul> 

		<p>At the end of the wizard, the customer can be presented with an almost complete account with populated content.  However, there will still be some items which the account owner must perform such as:</p>

		<ol>
			<li>Setup other marketing users</li>
			<li>Setup other sales users</li>
			<li>Setup CRM integration</li>
			<li>Verify program and media setup</li>
			<li>Modify or change segmentation to suit business case</li>
		</ol> 

</div>

<div align=center>

	<a href="wizardstart" class="btn btn-primary btn-lg">Installer Mockup</a>

</div>

</br>
